.faq{
   min-height: 160vh;
   background-color: var(--body-bg-color-second);
   padding-top: calc($gutter * 2);

   &__heading{
      align-self: center;
   }
   &__title{
      text-align: center;
      font-size: 5.8rem;
   }
   &__subtitle{
      text-align: center;
      font-size: 2.6rem;
   }
   &__content{
      margin-top: $gutter;
   }
   &__accordion{
      width: 85%;
      margin: 0 auto;
      position: relative;
      border-top: 1px solid #707070;
      border-bottom: 1px solid #707070;
      padding-top: 3rem;
      padding-bottom: 3rem;
      &:hover{
         cursor: pointer;
      }
   }
   &__question{
      font-family: "Quatro Slab";
      font-size: 2.2rem;
   }
}