.reviews{
   padding-top: calc($gutter * 2);
   padding-bottom: $gutter;
   @include respond(tab-port){
      padding-top: calc($gutter * 0.75);
   }
   @include respond(phone-port){
      padding: 0;
      margin: 0;
      padding-top: calc($gutter * 0.5);
   }
   &__slider{
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      overflow: hidden;
   }
   &__slide{
      grid-area: 1 / 1 / 6 / 6;
      transition: all 1s;
   }
   &__dots {
      margin-top: 7rem;
      grid-area: 5 / 3 / 6 / 4;
      display: flex;
      justify-content: center;
      @include respond(tab-land){
         margin-top: 6rem;
      }
      @include respond(phone-land){
         margin-top: 8rem;
      }
      @include respond(phone-port){
         margin-top: 10rem;
      }
   }
   &__dot{
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #ccc;
      padding: 0;
      margin: 0 5%;
      z-index: 1;
      &_active{
         @extend .reviews__dot;
         background-color: #3E3E3E;
      }
   }
   &__devider{
      width: 25%;
      display: flex;
      margin: 0 auto;
      img{
         width: 100%;
      }
   }
   &__content{
      width: 90%;
      margin: 0 auto;
   }
   &__text{
      width: 100%;
      margin-top: 9rem;
      font-size: 2.6rem;
      line-height: 4.8rem;
      @include respond(laptop){
         font-size: 2.2rem;
      }
      @include respond(tab-land){
         font-size: 1.8rem;
      }
      @include respond(tab-port){
         font-size: 1.6rem;
      }
      @include respond(phone-port){
         font-size: 1.4rem;
      }
   }
   &__btn{
      display: block;
      width: 40%;
      height: 77px;
      background-color: #3C3C3C;
      color: #FCFCFC;
      font-size: 2.6rem;
      line-height: 7.7rem;
      text-align: center;
      margin: 0 auto;
      margin-top: 10rem;
      @include respond(laptop){
         font-size: 2.2rem;
         width: 30%;
         height: 65px;
         line-height: 6.5rem;
      }
      @include respond(tab-land){
         font-size: 2rem;
         width: 30%;
         height: 50px;
         line-height: 5rem;
      }
      @include respond(tab-port){
         font-size: 1.6rem;
      }
      @include respond(phone-port){
         width: 80%;
         height: 60px;
         font-size: 2rem;
         margin-top: 6rem;
         line-height: 6rem;
         margin-bottom: 6rem;
      }
      
   }
}

.indicator{
   @extend .reviews__dot;

   position: absolute;
   background-color: #3E3E3E;

}
