html {
   font-size: 10px;
   overflow-x: hidden;
}

body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: $body-font;
   color: $black;
   font-size: $basic-font-size;
   font-weight: 200;
   letter-spacing: 2px;
   line-height: 1.5;
   background-color: var(--body-bg-color);

   @include respond(phone-land) {
      font-size: $mobile-font-size;
      font-weight: 300;
   }
   
}

h1 {
   font-size: $big-title;

   @include respond (laptop) {
      font-size: 5rem;
   }

   @include respond (tab-land) {
      font-size: 4rem;
   }

   @include respond (tab-port) {
      font-size: 3.2rem;
   }

   @include respond (short-laptop) {
      font-size: 3rem;
   }

   @include respond (phone-land) {
      font-size: 2.4rem;
   }
   @include respond (phone-port) {
      font-size: 3.8rem;
   }
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: $title-font;
   font-weight: bold;
   color: var(--black);
   margin: 0;


}

h2,
h3,
h4,
h5,
h6 {
   font-size: $title-font-size;

   @include respond (laptop) {
      font-size: 2.2rem
   }

   @include respond (tab-land) {
      font-size: 2rem;
   }

   @include respond (tab-port) {
      font-size: 1.8rem;
   }

   @include respond (phone-land) {
      font-size: 1.4rem;
   }
   @include respond (phone-port) {
      font-size: 1.6rem;
   }
}

h2 {
   text-transform: uppercase;
   text-align: center;
   margin-bottom: 4rem;
}

h3 {
   font-size: 2rem;
   text-align: center;
   color: $black;
   margin-bottom: 3rem;

   @include respond(iphone-5) {
      margin-bottom: 2rem;
      font-size: 1.8rem;
   }
}

h4 {
   color: var(--grey);
}

p {
   letter-spacing: 0.1rem;
   line-height: 1.5;
}

a {
   display: block;
   text-decoration: none;
   color: var(--color-primary);
   font-family: $body-font;
   font-weight: 500;
   letter-spacing: 1px;
}

hr {
   border: 1px solid var(--hr-color);
}

strong {
   font-weight: 700;
}

ul,
li {
   list-style: none;
   padding: 0;
   margin: 0;
   font-size: $list-font-size;
   color: var(--white);

   @include respond (laptop) {
      font-size: 2.2rem;
   }

   @include respond (tab-land) {
      font-size: 2.0rem;
   }

   @include respond (tab-port) {
      font-size: 1.8rem;
   }

   @include respond (phone-land) {
      font-size: 1.6rem;
   }
   @include respond (phone-port) {
      font-size: 1.6rem;
   }
}

button {
   outline: none;
   background: none;
   border: none;
}

input {
   padding: 0;
   margin: 0;
}