.header{
   height: 136px;
   background-color: var(--color-primary);
   width: 100%;
   position: sticky;
   top: 0;
   z-index: 100;
   @include respond(laptop) {
      height: 100px;
   }
   @include respond(phone-port){
      height: 136px;
   }
   &__logo{
      @include respond(phone-port){
      }
      img{
         width: 100%;
         @include respond(tab-port){
            width: 80%;
         }
         @include respond(phone-port){
            padding: 1% 0;
            width: 70%;
            display: block;
            margin: 0 auto;
         }
      }
      
   }
   &__content{
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 5%;
      @include respond(phone-port){
         display: block;
      }
   }
   &__info{
      font-size: 2rem;
      color: var(--white);
      padding-left: 8rem;
      
      @include respond(laptop){
         font-size: 1.6rem;
      }

      @include respond(tab-land){
         font-size: 1.4rem;
         padding-left: 4rem;
      }
      @include respond(tab-port){
         font-size: 1.4rem;
         width: 40%;
      }
      @include respond(phone-port){
         width: 100%;
         padding: 0;
         font-size: 1.2rem;
         text-align: center;
         position: sticky;
         top: 0;
         span{
            display: none;
         }
      }
      
   }
}

@include respond (iphone-5){
   .header__iphone-5{
      height: 60px;
   }
   .logo-hide{
      display: none;
   }
   .header__info{
      margin: 0;
      padding-top: 1rem;
      padding-bottom: 2rem;
   }
}